html,
body,
.capa {
    height: 100%;
}

body {
    background: url('../img/capa.png'), url('../img/ruido.png'), linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    overflow-x: hidden;
}


/*========== Header ============*/


/*.img-logo {
    height: 218px;
    width: 456px;
    display: block;
    background: url('../img/atlierozazul.svg') no-repeat;
    background-size: contain;
    color: transparent;
}*/

nav.navbar-transparente {
    padding: 15px 0;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

#bootstrap-overrides .navbar-brand {
    padding: 5px 15px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: #fff;
    margin: 16px 10px;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>li>a,
#rodape .nav a {
    color: #fff;
}

#bootstrap-overrides .navbar-inverse .navbar-nav>li>a:hover,
#rodape .nav a:hover {
    color: #9bf0e1;
    background: none;
}


/*========== End Header ============*/


/*========== imagem ============*/

.capa {
    display: table;
    width: 100%;
}

.texto-capa {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}


/*========== End imagem ============*/


/*========== Botões ============*/

#bootstrap-overrides .btn-custom {
    color: #fff;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
    padding: 10px 35px;
    margin: 0px 15px;
    text-transform: uppercase;
    transition: background 0.4s, color 0.4s;
}

#bootstrap-overrides .btn-roxo {
    background: #3F51B5;
}

#bootstrap-overrides .btn-roxo:hover {
    background-color: #6207b3;
    color: #fff;
}

#bootstrap-overrides .btn-branco {
    border: 2px solid #fff;
}

#bootstrap-overrides .btn-branco:hover {
    background-color: #fff;
    color: #000;
}

.texto-capa {
    text-align: center;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
}


/*========== End Botões ============*/


/*========== Serviços ============*/

#servicos,
#contato {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.albuns {
    padding: 10px 0 10px 0;
}


/*========== End Serviços ============*/


/*========== Recursos ============*/

#recursos {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;
}

.rotacionar {
    transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    padding-left: 80px;
}


/*========== End Recursos ============*/


/*========== Rodapé ============*/

footer {
    background: #3F51B5;
    padding: 50px 0 20px 0;
    position: relative;
}

.item-rede-social {
    background-image: url(../img/sprite-social.png);
    background-repeat: no-repeat;
    display: block;
    float: right;
    margin: 10px;
}

.behance {
    width: 54px;
    height: 54px;
    background-position: -5px -5px;
}

.facebook {
    width: 54px;
    height: 54px;
    background-position: -69px -5px;
}

.flickr {
    width: 54px;
    height: 54px;
    background-position: -133px -5px;
}

.instagram {
    width: 54px;
    height: 54px;
    background-position: -197px -5px;
}

.sprite .item-rede-social>a {
    position: relative;
    display: block;
    padding: 27px 15px;
}


/*========== End Rodapé ============*/


/*========== Tipografia ============*/

#bootstrap-overrides h1 {
    font-size: 100px;
    font-weight: 900;
    letter-spacing: -0.05em;
    margin-bottom: 50px;
}

#bootstrap-overrides h2 {
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -0.04em;
    text-align: center;
}

#bootstrap-overrides h3 {
    font-size: 25px;
    font-weight: 700;
    letter-spacing: -0.04em;
}

#servicos h2,
#servicos h3 {
    color: #3F51B5;
}

#recursos h3 {
    color: #9bf0e1;
}

#rodape h4 {
    color: #919496;
    font-size: 12px;
    text-transform: uppercase;
    padding-left: 12px;
}